/* 
CSS for print version tests
author: Bert
*/
@media print{
  .content {
    width:100%;
  }
  
  .print-only {
    display:block;
    border:none;
  }

  header, .footer, nav, footer, .no-print, .btn{
    display:none    
  }
    
  .no-break {
    page-break-inside: avoid;
  }

  .print-image {
    max-height:100px;
    max-width: 100px;
    float:left;
  }

  .print-question {
    border:2px solid black;
  }
  .print-question > .list-group {
    border-top:1px solid black;

  }
  .print-answers {
    border-top:2px solid black;
  }
  .print-answers:before {
    content: '';
    height:25px;
    width:25px;
    outline:1px solid black;
    float:left;
  }

  .print-rapport {
    border:1px solid black;
  }
  
  .print-rapport .list-group-item{
    border-top:1px solid black;
  }
  
  .print-rapport .list-group-item:first-child{
    border:none;
    background:grey;
  }
}