/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-sep-2014, 14:20:15
    Author     : cyber07
*/


/*first child of list group in panel did not have border top, now it does */
.panel > .panel-body + .list-group .list-group-item:first-child {
  border-top: 1px solid #dddddd;
}


/**
    Test answers layout
**/
.answer.div {
    position: relative;
}
.answer input[type="radio"]{
    display:none;
}
.answer label{
    width:100%;
    position:absolute;
    left:0;
    top:0;
    height: 100%;
    z-index: 5;
    
}
.answer input[type="radio"]:checked+label{ 
/*    background-color: rgba(0, 132, 255, 0.4);*/
border:8px solid rgba(0, 132, 255, 0.4);
} 