{%extends "template/base.html.twig"%}
{%block stylesheets%}
<link rel="stylesheet" href="\mctesting\public\css\loginform.css">
<link rel="stylesheet" href="\mctesting\public\css\baselayout.css">

{%endblock%}

{%block title%}MC Testing - {%endblock%}

{%block body%}
    {%block login%}
    <div id='topmenu'>
        <h1 id='titel'>Multiple Choice testing</h1>  
            {% set user = 'eric' %}
            {% set ingelogd = true %}
        <div class="loginform">
            {% if (user is defined) and (ingelogd == true) %}
                 Welkom,  {{user}}  <a href='/mctesting/loginlogout/logout'>Afmelden</a> 
            {%else%}
                <form action="/mctesting/loginlogout/login" method="post">
                    Gebruikers-id:<input type="text" name="txtGebruikersnaam">
                    Wachtwoord:<input type="password" name="txtWachtwoord">
                    <input type="submit" value="Aanmelden">				
		</form>
            {%endif%}
                
            
        </div>
         </div>
    {%endblock%}
<div class="content">
    {%block content%}
    {%endblock%}
        </div>
{%endblock%}