{%extends "template/layout.html.twig"%}

{%block stylesheets%}
    {{parent()}}

{%endblock%}

{%block title%}
    {{parent()}}Category
{%endblock%}


{%block content%}
<div class="container-fluid">
    <h1 class="headerofpage">Categorielijst</h1>
</div>
<div class="intropage">
    {% for category in allcategories %}
        <div class=catlijst">
            <h4>{{ category.catname }}</h4>
            <ul class="subcathiding">
            {% for subcategory in category.subcategories %}
                <li>{{ subcategory.subcatname }}</li>
            {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>
{% endblock content %}
