{% extends "template/layout.html.twig" %}

{% block content %}
<div class="page error">
    <h1 class="errorhead">Fout</h1>
    <div class="errorbody">{{exception.message}}</div>
</div>
{% endblock %}