{% extends "template/layout.html.twig" %}


{% block feedback %}
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <p>{{exception.message}}</p>
      </div>
{% endblock %}