{% extends "template/layout.html.twig" %}

{% block content %}
    <br>
    <div class="">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel panel-danger">
                <div class="panel-heading">Fout</div>
                {#<h1 class="errorhead">Fout</h1>#}
                <div class="panel-body">{{exception.message}}</div>
                {#<div class="errorbody">{{exception.message}}</div>#}
            </div>
        </div>
    </div>
{% endblock %}