{% extends "template/layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}

{% endblock %}

{% block title %}
    {{parent()}}Home
{% endblock %}


{% block content %}
<div class="container-fluid ">
    <h1 class="headerpage">Welkom op de testing website van de VDAB</h1>
</div>
<div class="intropage">
    {% if app.user is defined and app.user is not empty %}
        <h4> U bent ingelogd als {{app.user.group.name}}</h4>
    {% else %}
        <h4 class="darker intro"><span class="">Mensen die een test willen afleggen:</span></h4> 
        <p>
            Gelieve in te loggen met: <br>
            uw rijksregisternummer als Login en <br>
            het wachtwoord dat meegedeeld wordt door de instructeur op de dag van de testafname.<br>
            <span class="smaller">Uw rijksregisternummer kan u terugvinden op de achterkant van uw identiteitskaart.</span>
            
        </p>
        <br>
        <p>Nog geen account?</p>
        <a href="{{ app.root }}/home/register" class="btn btn-primary btn-lg" role="button">Registreer</a>
        <br>
    {% endif %}    
    </div>
{% endblock %}

