{%extends "template/layout.html.twig"%}

{%block stylesheets%}
    {{parent()}}

{%endblock%}

{%block title%}
    {{parent()}}Home
{%endblock%}


{%block content%}
<div class="intropage">
    <h1 class="headerofpage">Welkom op de testing website van de VDAB</h1>
        {% if app.user is defined and app.user is not empty %}
<div class="intropage maincontainer">
    {% if app.user is defined and app.user is not empty %}
        <p> U bent ingelogd als {{app.user.group.name}}</p>
    {%else%}
        <h4 class="darker intro"><span class="">Mensen die een test willen afleggen:</span></h4> 
        <p>
            Gelieve in te loggen met: <br>
            uw rijksregisternummer als Login en <br>
            het wachtwoord dat meegedeeld wordt door de instructeur op de dag van de testafname.<br>
            <span class="smaller">Uw rijksregisternummer kan u terugvinden op de achterkant van uw identiteitskaart.</span>
        </p>

    <h4 class="darker intro"><span class="">Admins en beheerders:</span></h4>
    <p>
        Gelieve in te loggen met: <br>
        uw emailadres als Login  en uw eigen wachtwoord.
    </p>
    {%endif%}    
</div>
        {%endif%}    
    </div>
    {%endblock%}
