{%extends "template/layout.html.twig"%}

{%block stylesheets%}
    {{parent()}}
    
{%endblock%}

{%block title%}
    {{parent()}}Home
{%endblock%}
    

{%block content%}
    <div>
        <h3>Welkom op de multiple choice testing website van de VDAB.</h3>
    <br>    
    Voor de <b>mensen die een test willen afleggen</b>, gelieve in te loggen met: <br>
    uw <b>rijksregisternummer als Login </b> en <br>
    het <b>wachtwoord dat meegedeeld wordt door de instructeur op de dag van de testafname</b>.
    <br>
    <sub>Uw rijksregisternummer kan u terugvinden op de achterkant van uw identiteitskaart.</sub>
    
    <br><br>
    Voor de <b>admins en beheerders</b>, gelieve in te loggen met: <br>
    uw <b>emailadres als Login </b>  en uw <b>eigen wachtwoord</b>.
    </div>
    
    {{message1}}
    {{message4}}

{%endblock%}
