{% extends "template/layout.html.twig" %}

{% block stylesheets %}
  {{parent()}}

{% endblock %}

{% block title %}
  {{parent()}}Home
{% endblock %}


{% block content %}
  
      <h1>Welkom op de testing website van de VDAB</h1>
              <br>
      {% if app.user is defined and app.user is not empty %}
        <h4> U bent ingelogd als {{app.user.group.name}}</h4>
      {% else %}
        <h4>Mensen die een test willen afleggen:</h4> 
        <p>
          Gelieve in te loggen met
          uw rijksregisternummer als Login en
          het wachtwoord dat meegedeeld wordt door de instructeur op de dag van de testafname.<br>
          <span class="small">Uw rijksregisternummer kan u terugvinden op de achterkant van uw identiteitskaart.</span>
        </p>
        <br>
        <h4>Nog geen account?</h4>
        <p><a href="{{ app.root }}/home/register" class="btn btn-primary btn-lg">Registreer</a></p>
   
    {% endif %}    
{% endblock %}

