{% extends "template/layout.html.twig" %}

{% block stylesheets %}
    {{parent()}}

{% endblock %}

{% block title %}
    {{ parent() }}Gebruiker aanmaken
{% endblock %}

{% block contentHeader %}
    <div class="panel-heading">
        <h1>
            Gebruiker aanmaken
            <br>
        </h1>
    </div>
{% endblock %}

{%block content%}

    <div class="container-fluid">    
        <form name="gebrtoev" id="gebrtoev" class="form-horizontal" action="{{ app.root }}/usermanagement/newUser" method="post">
            <div class="panel panel-default">
                <div class="panel-heading">Maak hier een nieuwe basisgebruiker aan</div>
                <div class="panel-body">
                    <div class="form-group">
                        <label for="fnaam" class="col-xs-3 control-label">Familienaam:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="fnaam" id="fnaam" placeholder="Vul hier de familienaam in." required/>
                        </div>  
                    </div>
                    <div class="form-group">
                        <label for="vnaam" class="col-xs-3 control-label">Voornaam:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="vnaam" id="vnaam" placeholder="Vul hier de voornaam in." required/>
                        </div>  
                    </div>
                    <div class="form-group">
                        <label for="rrnr" class="col-xs-3 control-label">Rijksregisternummer:</label>
                        <div class="col-xs-9">
                            <input type="text" class="form-control" name="rrnr" id="rrnr" placeholder="Vul hier het rijksregisternummer in." pattern="\d{2}.\d{2}.\d{2}-\d{3}.\d{2}" required/>
                        </div>  
                    </div>
                    <div class="form-group">
                        <div class="col-xs-offset-3 col-xs-9">
                            <input type="submit" name="gebrknop" class="btn btn-success" value="Gebruiker aanmaken">
                        </div>
                    </div>
                </div>
            </div>
        </form> 
    </div>

{% endblock %}
