{%extends "template/layout.html.twig"%}

{%block stylesheets%}
    {{parent()}}

{%endblock%}

{%block title%}
    {{parent()}}Test voltooid
{%endblock%}


{%block content%}
<div class="container-fluid ">
    <h1 class="headerofpage">Test voltooid</h1>
</div>
    <p>Uw test is opgeslagen. U mag afmelden.</p>
</div>
{%endblock%}
