{%extends "template/layout.html.twig"%}

{%block stylesheets%}
    {{parent()}}

{%endblock%}

{%block title%}
    {{parent()}}Home
{%endblock%}


{%block content%}
<div class="container-fluid ">
    <h4>Testsessie aangemaakt!</h4>
    <p>Er is een nieuwe testsessie aangemaakt. Gebruik het linkermenu om verder te werken. </p>
</div>
{%endblock%}
