{%extends "template/layout.html.twig"%}

{%block stylesheets%}
    {{parent()}}

{%endblock%}

{%block title%}
    {{parent()}}Home
{%endblock%}


{%block content%}
<div class="container-fluid maincontainer">
    <h1 class="headerpage">Welkom op de testing website van de VDAB</h1>
</div>
<div class="intropage maincontainer">
      <a href='/mctesting/usermanagement/newuserform'>new user form</a>
       <br><br>
       <a href='/mctesting/usermanagement/listusers'>user list</a>
</div>
   
{%endblock%}
